<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csci5115.group8">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VerificationActivity"
            android:label="Verify yourself" />
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditApartmentListingActivity"
            android:label="Update apartment listing" />
        <activity
            android:name=".ViewApartmentListingActivity"
            android:hardwareAccelerated="true"
            android:label="View apartment details" />
        <activity
            android:name=".CreateAccountActivity"
            android:label="Create Account"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".PswdResetActivity"
            android:label="Password Reset"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ThreadActivity"
            android:label="Chat" />
        <activity
            android:name=".UserSearchActivity"
            android:label="User search" />
        <activity
            android:name=".ApartmentSearchActivity"
            android:label="Apartment search" />
        <activity
            android:name=".EditYourProfileActivity"
            android:label="Update your profile" />
        <activity
            android:name=".CreateApartmentListingActivity"
            android:label="Create new apartment listing" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserSRLCustomizationActivity"
            android:label="Customize User Layout" />
        <activity
            android:name=".AptSRLCustomizationActivity"
            android:label="Customize Apartment Layout" />
        <activity android:name=".DashboardActivity" />
    </application>

</manifest>